@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #fff;
    min-height: 100vh;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display:flex ;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    padding-left: 20px;
}
.navigation a{
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover ,
.navigation a.active{
    background: #359381;
    color: #fff;
}





main{
  height: 100vh;
  padding: 60px;
  margin: 20px;
  width: 100%;
}

.img-slider{
    position: relative;
    width: 900px;
    height: 500px;
    margin: 10px;
    background: #1D212B;
  }
  .img-slider .slide{
    z-index: 1;
    position: absolute;
    width:100%;
    clip-path: circle(0% at 0 50%);
    
  }
  .img-slider img{
    width: 900px;
    height: 500px;
  }
  
  .img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  
  
  
  .img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
  }
  .img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .img-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
section{
    padding: 20px;
}
.acricle{
    padding: 30px;
    margin: 10px;
}
h2{
  color:#359381;
  font-size: 42px;
}
h3{
  color: #359381;
  font-size: 36px;
}
p{
  font-size: 24px;
}
li{
  font-size: 24px;
  color: ;
}