@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #fff;
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient( #e55d87, #5fc3e4);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display:flex ;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2em;
    color: #FFF;
    pointer-events: none;
    padding-left: 20px;
}
.navigation a{
    text-decoration: none;
    color: #EEE;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover ,
.navigation a.active{
    background: #c74a72;
    color: #fff;
}
.article{
    padding: 60px;
    max-width: 80%;
    margin: 60px;
    padding-top: 80px;
    justify-content: space-between;
    align-items: center;
}
h2{
    font-family: Montserrat;
    font-size: 36px;
    color: bisque;
    padding-bottom: 20px;
}
p{
    font-size: 24px;
    color: whitesmoke;
    padding-bottom: 20px;
}
.aside {
    max-width: 60%;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-top: 30px;
}
.asideul li {
    list-style: none;
    justify-content: center;
    padding-left: 40px;
    font-size: 24px;
    color: lavender;
}
